<div class="student-list">
  <div class="container">
    <h2>{{heading | translationPipe:lang}}</h2>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{'SEARCH'|translationPipe:lang}}</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button class="button" (click)="createUser()">{{'CREATE_USER'|translationPipe:lang}}</button>
  </div>
  <table>
    <thead>
    <tr>
      <th>{{'FIRSTNAME'|translationPipe:lang}}</th>
      <th>{{'LASTNAME'|translationPipe:lang}}</th>
      <th>{{'AGE'|translationPipe:lang}}</th>
      <th>{{'PHONE_NUMBER'|translationPipe:lang}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of filteredOptions | async">
      <td (click)="onRowClick(user)">{{ user.firstname }}</td>
      <td (click)="onRowClick(user)">{{ user.lastname }}</td>
      <td>{{ user.age }}</td>
      <td>{{user.phoneNumber}}</td>
    </tr>
    </tbody>
  </table>
</div>
