<div style="height: 100%;width: 100%;">
  <p class="fixed-top">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
              (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span (click)="main()">Академия роста</span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeLanguage('ru')">ru</button>
        <button mat-menu-item (click)="changeLanguage('kg')">kg</button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu1" class="example-icon"
              aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item (click)="logout()">logout</button>
        <button mat-menu-item (click)="profile()">profile</button>
      </mat-menu>
    </mat-toolbar>
  </p>
  <mat-drawer-container class="example-container" style="height: 100% ;width: 100%;overflow: hidden">
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
      <mat-list style="margin-top: 60px; margin-left: 20px">
        <div style="overflow: hidden;">

          <div class="configs">
            <div>
              <mat-icon class="example-icon">timer</mat-icon>
            </div>
            <div class="inner_config">
              <p class="configs_lab">{{'SPEED'|translationPipe:lang}}</p>
              <input [disabled]="!(startButtonEnable || showAnswerEnable)" class="inputs" type="number" step="0.2"
                     max="23"
                     min="0.2"
                     [(ngModel)]="inter">
            </div>
          </div>

          <div class="configs">
            <div>
              <mat-icon class="example-icon">123</mat-icon>
            </div>
            <div class="inner_config">
              <p class="configs_lab">{{'DIGITS'|translationPipe:lang}}</p>
              <input [disabled]="!(startButtonEnable || showAnswerEnable)" class="inputs" type="number" max="20" min="1"
                     [(ngModel)]="digits" (input)="digitsChange()">
            </div>
          </div>

          <div class="configs">
            <div>
              <mat-icon class="example-icon">checklist</mat-icon>
            </div>
            <div class="inner_config">
              <div>
                <p class="configs_lab">{{'COUNT'|translationPipe:lang}}</p>
              </div>
              <div>
                <input [disabled]="!(startButtonEnable || showAnswerEnable)" class="inputs" type="number" max="100"
                       min="3"
                       [(ngModel)]="count">
              </div>
            </div>
          </div>
        </div>

        <div>
          <mat-form-field class="task" appearance="fill">
            <mat-label>{{'BRO_HELP'|translationPipe:lang}}</mat-label>
            <mat-select [disabled]="!(startButtonEnable || showAnswerEnable)" class="task1" [(ngModel)]="pbSelectedTask"
                        (selectionChange)="pbSelected()">
              <mat-option *ngFor="let task of pbSelectInfo" [value]="task.name">
                {{task.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="task" appearance="fill">
            <mat-label>{{'FRIEND_HELP'|translationPipe:lang}}</mat-label>
            <mat-select [disabled]="!(startButtonEnable || showAnswerEnable)" [(ngModel)]="pdSelectedTask"
                        (selectionChange)="pdSelected()">
              <mat-option *ngFor="let task of pdSelectInfo" [value]="task.name">
                {{task.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div [hidden]="isPupil">
          <mat-form-field class="task" appearance="fill">
            <mat-label>{{'COUNT_OF_PUPILS'|translationPipe:lang}}</mat-label>
            <mat-select [disabled]="!(startButtonEnable || showAnswerEnable)" [(ngModel)]="countOfPupils"
                        (selectionChange)="countOfPupilChange()">
              <mat-option *ngFor="let i of countFrames" [value]="i">
                {{i}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div [hidden]="isPupil">
          <mat-form-field class="task" appearance="fill">
            <mat-label>{{'GROUP'|translationPipe:lang}}</mat-label>
            <mat-select [disabled]="!(startButtonEnable || showAnswerEnable)" [(ngModel)]="selectedGroup"
                        (selectionChange)="onGroupChange()">
              <mat-option [value]="defaultGroup">{{'NO'|translationPipe:lang}}</mat-option>
              <mat-option *ngFor="let group of groups" [value]="group">
                {{group.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-divider></mat-divider>
      </mat-list>
    </mat-drawer>

    <div style="width: 100%;height: calc(100% - 60px);background: #3fbafe;overflow: hidden;margin-top: 60px">
      <div style="width: 100%;height: calc(100% - 90px)">
        <!--      Content -->
        <div style="width: 100%; height: 100%;flex-wrap: wrap;display: flex;justify-content: center">
          <div class="card" [style.width]="countedWidth + '%'" [style.height]="countedHeight + '%'"
               *ngIf="countOfPupils > 0">
            <div class="d-flex align-items-center">
              <mat-chip>
                <mat-icon class="example-icon" style="margin-right: 20px">assignment_ind</mat-icon>
              </mat-chip>
              <mat-select class="marsForm" placeholder="{{'SELECT_PUPIL'|translationPipe:lang}}"
                          [(ngModel)]="firstFramePupil" (change)="pupilChanged(1)">
                <mat-option [value]="defaultUser()">{{'NO'|translationPipe:lang}}</mat-option>
                <mat-option *ngFor="let pupil of pupils"
                            [value]="pupil">{{pupil.firstname}} {{pupil.lastname}}</mat-option>
              </mat-select>
            </div>
            <div class="card__title"></div>
            <div style="display: flex;justify-content: center;align-items: center">
              <h1 [style.font-size]="fontSize + 'rem'">{{firstFrameNum}}</h1>
            </div>
            <div style="display: flex; justify-content: space-between;align-items: center;">
              <button [hidden]="!firstFrameCheckers" (click)="correct(1)" type="button" class="btn btn-success"
                      style="width:20%;margin-left: 30px">{{'CORRECT'|translationPipe:lang}}
              </button>
              <button [hidden]="!firstFrameCheckers" (click)="incorrect(1)" type="button" class="btn btn-danger"
                      style="width:20%; margin-right: 30px;">{{'INCORRECT'|translationPipe:lang}}
              </button>
            </div>
          </div>

          <div class="card" [style.width]="countedWidth + '%'" [style.height]="countedHeight + '%'"
               *ngIf="countOfPupils > 1">
            <div class="d-flex align-items-center">
              <mat-chip>
                <mat-icon class="example-icon" style="margin-right: 20px">assignment_ind</mat-icon>
              </mat-chip>
              <mat-select class="marsForm" placeholder="{{'SELECT_PUPIL'|translationPipe:lang}}"
                          [(ngModel)]="secondFramePupil" (change)="pupilChanged(2)">
                <mat-option [value]="defaultUser()">{{'NO'|translationPipe:lang}}</mat-option>
                <mat-option *ngFor="let pupil of pupils"
                            [value]="pupil">{{pupil.firstname}} {{pupil.lastname}}</mat-option>
              </mat-select>
            </div>
            <div class="card__title"></div>
            <div style="display: flex;justify-content: center;align-items: center">
              <h1 [style.font-size]="fontSize + 'rem'">{{secondFrameNum}}</h1>
            </div>
            <div style="display: flex; justify-content: space-between;align-items: center;">
              <button [hidden]="!secondFrameCheckers" (click)="correct(2)" type="button" class="btn btn-success"
                      style="width:20%;margin-left: 30px">{{'CORRECT'|translationPipe:lang}}
              </button>
              <button [hidden]="!secondFrameCheckers" (click)="incorrect(2)" type="button" class="btn btn-danger"
                      style="width:20%; margin-right: 30px;">{{'INCORRECT'|translationPipe:lang}}
              </button>
            </div>
          </div>

          <div class="card" [style.width]="countedWidth + '%'" [style.height]="countedHeight + '%'"
               *ngIf="countOfPupils > 2">
            <div class="d-flex align-items-center">
              <mat-chip>
                <mat-icon class="example-icon" style="margin-right: 20px">assignment_ind</mat-icon>
              </mat-chip>
              <mat-select class="marsForm" placeholder="{{'SELECT_PUPIL'|translationPipe:lang}}"
                          [(ngModel)]="thirdFramePupil" (change)="pupilChanged(3)">
                <mat-option [value]="defaultUser()">{{'NO'|translationPipe:lang}}</mat-option>
                <mat-option *ngFor="let pupil of pupils"
                            [value]="pupil">{{pupil.firstname}} {{pupil.lastname}}</mat-option>
              </mat-select>
            </div>
            <div class="card__title"></div>
            <div style="display: flex;justify-content: center;align-items: center">
              <h1 [style.font-size]="fontSize + 'rem'">{{thirdFrameNum}}</h1>
            </div>
            <div style="display: flex; justify-content: space-between;align-items: center;">
              <button [hidden]="!thirdFrameCheckers" (click)="correct(3)" type="button" class="btn btn-success"
                      style="width:20%;margin-left: 30px">{{'CORRECT'|translationPipe:lang}}
              </button>
              <button [hidden]="!thirdFrameCheckers" (click)="incorrect(3)" type="button" class="btn btn-danger"
                      style="width:20%; margin-right: 30px;">{{'INCORRECT'|translationPipe:lang}}
              </button>
            </div>
          </div>

          <div class="card" [style.width]="countedWidth + '%'" [style.height]="countedHeight + '%'"
               *ngIf="countOfPupils > 3">
            <div class="d-flex align-items-center">
              <mat-chip>
                <mat-icon class="example-icon" style="margin-right: 20px">assignment_ind</mat-icon>
              </mat-chip>
              <mat-select class="marsForm" placeholder="{{'SELECT_PUPIL'|translationPipe:lang}}"
                          [(ngModel)]="fourthFramePupil" (change)="pupilChanged(4)">
                <mat-option [value]="defaultUser()">{{'NO'|translationPipe:lang}}</mat-option>
                <mat-option *ngFor="let pupil of pupils"
                            [value]="pupil">{{pupil.firstname}} {{pupil.lastname}}</mat-option>
              </mat-select>
            </div>
            <div class="card__title"></div>
            <div style="display: flex;justify-content: center;align-items: center">
              <h1 [style.font-size]="fontSize + 'rem'">{{fourthFrameNum}}</h1>
            </div>
            <div style="display: flex; justify-content: space-between;align-items: center;">
              <button [hidden]="!fourthFrameCheckers" (click)="correct(4)" type="button" class="btn btn-success"
                      style="width:20%;margin-left: 30px">{{'CORRECT'|translationPipe:lang}}
              </button>
              <button [hidden]="!fourthFrameCheckers" (click)="incorrect(4)" type="button" class="btn btn-danger"
                      style="width:20%; margin-right: 30px;">{{'INCORRECT'|translationPipe:lang}}
              </button>
            </div>
          </div>

        </div>

        <!--      Toolbar-->
        <div style="width: 100%; height: 90px; justify-content: center; align-items: center;display: flex;">
          <div style="width:100%; display: flex; justify-content: space-between">
            <div style="margin-left: 20px; display: flex;justify-content: center;align-items: center;">
              <div class="input_wrapper" id="switcher">
                <input type="checkbox" class="switch_4" [checked]="voice" [(ngModel)]="voice">
                <svg class="is_checked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 426.67 426.67">
                  <path
                    d="M153.504 366.84c-8.657 0-17.323-3.303-23.927-9.912L9.914 237.265c-13.218-13.218-13.218-34.645 0-47.863 13.218-13.218 34.645-13.218 47.863 0l95.727 95.727 215.39-215.387c13.218-13.214 34.65-13.218 47.86 0 13.22 13.218 13.22 34.65 0 47.863L177.435 356.928c-6.61 6.605-15.27 9.91-23.932 9.91z"/>
                </svg>
                <svg class="is_unchecked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212.982 212.982">
                  <path
                    d="M131.804 106.49l75.936-75.935c6.99-6.99 6.99-18.323 0-25.312-6.99-6.99-18.322-6.99-25.312 0L106.49 81.18 30.555 5.242c-6.99-6.99-18.322-6.99-25.312 0-6.99 6.99-6.99 18.323 0 25.312L81.18 106.49 5.24 182.427c-6.99 6.99-6.99 18.323 0 25.312 6.99 6.99 18.322 6.99 25.312 0L106.49 131.8l75.938 75.937c6.99 6.99 18.322 6.99 25.312 0 6.99-6.99 6.99-18.323 0-25.313l-75.936-75.936z"
                    fill-rule="evenodd" clip-rule="evenodd"/>
                </svg>
              </div>
              <label>{{'VOICE'|translationPipe:lang}}</label>
            </div>
            <div style="display: flex;justify-content: center;align-items: center;width: 20%">
              <button class="btn btn-warning" style="width:100%" (click)="break()"
                      [hidden]="startButtonEnable || showAnswerEnable">{{'BREAK'|translationPipe:lang}}
              </button>
              <button (click)="start()" [hidden]="!startButtonEnable" class="btn btn-success"
                      style="width:100%">{{'START'|translationPipe:lang}}
              </button>
              <button class="btn btn-primary" (click)="answer()" [hidden]="!showAnswerEnable" style="width:100%">
                {{'ANSWER'|translationPipe:lang}}
              </button>
            </div>
            <button (click)="save()" [disabled]="!startButtonEnable" class="btn btn-light"
                    style="width:20%;margin-right: 20px">{{'SAVE'|translationPipe:lang}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-container>
</div>
