<div style="height: 100%;width: 100%">
  <mat-toolbar color="primary" class="fixed-top">
    <img src="../assets/logo_light.png" routerLink="/main" style="width: 140px">

    <span class="spacer"> </span>

    <!--    <button *ngIf="!isLoggedIn" matTooltip="Login" routerLink="/login" mat-icon-button-->
    <!--            class="example-icon favourite-icon">-->
    <!--      <mat-icon>login</mat-icon>-->
    <!--    </button>-->

    <!--    <button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" matTooltip="Profile" mat-icon-button>-->
    <!--      <mat-icon>account_box</mat-icon>-->
    <!--    </button>-->

    <button mat-button [matMenuTriggerFor]="menu">язык</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>ru</button>
      <button mat-menu-item>ky</button>
    </mat-menu>
    <mat-menu id="menu-item" #menu="matMenu">
      <button mat-menu-item routerLink="/profile">Profile</button>
      <!--      <button (click)="logout()" mat-menu-item>Logout</button>-->
    </mat-menu>
  </mat-toolbar>


  <mat-sidenav-container style="width: 100%; height: 100%">
    <mat-sidenav class="position-fixed" mode="side" opened="true">
      <mat-list style="margin-top: 60px; margin-left: 20px">
        <mat-chip-list>

          <div class="d-flex align-items-center">
            <mat-chip>
              <mat-icon class="example-icon" style="margin-right: 20px">timer</mat-icon>
              Speed
            </mat-chip>
            <input [disabled]="!(startButtonEnable || showAnswerEnable)" class="inputs" type="number" step="0.2"
                   max="23"
                   min="0.2"
                   [(ngModel)]="inter">
          </div>
          <div class="d-flex align-items-center">
            <mat-chip>
              <mat-icon class="example-icon" style="margin-right: 22px">123</mat-icon>
              Digits
            </mat-chip>
            <input [disabled]="!(startButtonEnable || showAnswerEnable)" class="inputs" type="number" max="20" min="1"
                   [(ngModel)]="digits" (input)="digitsChange()">
          </div>

          <div class="d-flex align-items-center">
            <mat-chip>
              <mat-icon class="example-icon" style="margin-right: 21px">checklist</mat-icon>
              Count
            </mat-chip>
            <input [disabled]="!(startButtonEnable || showAnswerEnable)" class="inputs" type="number" max="100" min="3"
                   [(ngModel)]="count">
          </div>
        </mat-chip-list>

        <div>
          <mat-form-field class="task" appearance="fill">
            <mat-label>Помощь брата</mat-label>
            <mat-select [disabled]="!(startButtonEnable || showAnswerEnable)" class="task1" [(ngModel)]="pbSelectedTask"
                        (selectionChange)="pbSelected()">
              <mat-option *ngFor="let task of pbSelectInfo" [value]="task.name">
                {{task.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="task" appearance="fill">
            <mat-label>Помощь друга</mat-label>
            <mat-select [disabled]="!(startButtonEnable || showAnswerEnable)" [(ngModel)]="pdSelectedTask"
                        (selectionChange)="pdSelected()">
              <mat-option *ngFor="let task of pdSelectInfo" [value]="task.name">
                {{task.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div [hidden]="isPupil">
          <mat-form-field class="task" appearance="fill">
            <mat-label>Количество участников</mat-label>
            <mat-select [disabled]="!(startButtonEnable || showAnswerEnable)" [(ngModel)]="countOfPupils"
                        (selectionChange)="countOfPupilChange()">
              <mat-option *ngFor="let i of countFrames" [value]="i">
                {{i}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div [hidden]="isPupil">
          <mat-form-field class="task" appearance="fill">
            <mat-label>Группа</mat-label>
            <mat-select [disabled]="!(startButtonEnable || showAnswerEnable)" [(ngModel)]="selectedGroup"
                        (selectionChange)="onGroupChange()">
              <mat-option [value]="defaultGroup">No</mat-option>
              <mat-option *ngFor="let group of groups" [value]="group">
                {{group.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-divider></mat-divider>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content style="background: #3fbafe;overflow: hidden;margin-top: 60px">
      <div style="width: 100%;height: 100%">
        <!--      Content -->
        <div style="width: 100%; height: calc(100% - 150px);flex-wrap: wrap;display: flex;justify-content: center">
          <div class="card" [style.width]="countedWidth + '%'" [style.height]="countedHeight + '%'"
               *ngIf="countOfPupils > 0">
            <div class="d-flex align-items-center">
              <mat-chip>
                <mat-icon class="example-icon" style="margin-right: 20px">assignment_ind</mat-icon>
              </mat-chip>
              <select class="row form-select form-select-sm" aria-label=".form-select-sm example"
                      [(ngModel)]="firstFramePupil" (change)="pupilChanged(1)">
                <option [ngValue]="defaultUser()">default</option>
                <option *ngFor="let pupil of pupils" [ngValue]="pupil">{{pupil.firstname}} {{pupil.lastname}}</option>
              </select>
            </div>
            <div class="card__title"></div>
            <div style="display: flex;justify-content: center;align-items: center">
              <h1 [style.font-size]="fontSize + 'rem'">{{firstFrameNum}}</h1>
            </div>
            <div style="display: flex; justify-content: space-between;align-items: center;">
              <button [hidden]="!firstFrameCheckers" (click)="correct(1)" type="button" class="btn btn-success"
                      style="width:20%;margin-left: 30px">Success
              </button>
              <button [hidden]="!firstFrameCheckers" (click)="incorrect(1)" type="button" class="btn btn-danger"
                      style="width:20%; margin-right: 30px;">Danger
              </button>
            </div>
          </div>

          <div class="card" [style.width]="countedWidth + '%'" [style.height]="countedHeight + '%'"
               *ngIf="countOfPupils > 1">
            <div class="d-flex align-items-center">
              <mat-chip>
                <mat-icon class="example-icon" style="margin-right: 20px">assignment_ind</mat-icon>
              </mat-chip>
              <select class="row form-select form-select-sm" aria-label=".form-select-sm example"
                      [(ngModel)]="secondFramePupil" (change)="pupilChanged(2)">
                <option [ngValue]="defaultUser()">default</option>
                <option *ngFor="let pupil of pupils" [ngValue]="pupil">{{pupil.firstname}} {{pupil.lastname}}</option>
              </select>
            </div>
            <div class="card__title"></div>
            <div style="display: flex;justify-content: center;align-items: center">
              <h1 [style.font-size]="fontSize + 'rem'">{{secondFrameNum}}</h1>
            </div>
            <div style="display: flex; justify-content: space-between;align-items: center;">
              <button [hidden]="!secondFrameCheckers" (click)="correct(2)" type="button" class="btn btn-success"
                      style="width:20%;margin-left: 30px">Success
              </button>
              <button [hidden]="!secondFrameCheckers" (click)="incorrect(2)" type="button" class="btn btn-danger"
                      style="width:20%; margin-right: 30px;">Danger
              </button>
            </div>
          </div>

          <div class="card" [style.width]="countedWidth + '%'" [style.height]="countedHeight + '%'"
               *ngIf="countOfPupils > 2">
            <div class="d-flex align-items-center">
              <mat-chip>
                <mat-icon class="example-icon" style="margin-right: 20px">assignment_ind</mat-icon>
              </mat-chip>
              <select class="row form-select form-select-sm" aria-label=".form-select-sm example"
                      [(ngModel)]="thirdFramePupil" (change)="pupilChanged(3)">
                <option [ngValue]="defaultUser()">default</option>
                <option *ngFor="let pupil of pupils" [ngValue]="pupil">{{pupil.firstname}} {{pupil.lastname}}</option>
              </select>
            </div>
            <div class="card__title"></div>
            <div style="display: flex;justify-content: center;align-items: center">
              <h1 [style.font-size]="fontSize + 'rem'">{{thirdFrameNum}}</h1>
            </div>
            <div style="display: flex; justify-content: space-between;align-items: center;">
              <button [hidden]="!thirdFrameCheckers" (click)="correct(3)" type="button" class="btn btn-success"
                      style="width:20%;margin-left: 30px">Success
              </button>
              <button [hidden]="!thirdFrameCheckers" (click)="incorrect(3)" type="button" class="btn btn-danger"
                      style="width:20%; margin-right: 30px;">Danger
              </button>
            </div>
          </div>

          <div class="card" [style.width]="countedWidth + '%'" [style.height]="countedHeight + '%'"
               *ngIf="countOfPupils > 3">
            <div class="d-flex align-items-center">
              <mat-chip>
                <mat-icon class="example-icon" style="margin-right: 20px">assignment_ind</mat-icon>
              </mat-chip>
              <select class="row form-select form-select-sm" aria-label=".form-select-sm example"
                      [(ngModel)]="fourthFramePupil" (change)="pupilChanged(4)">
                <option [ngValue]="defaultUser()">default</option>
                <option *ngFor="let pupil of pupils" [ngValue]="pupil">{{pupil.firstname}} {{pupil.lastname}}</option>
              </select>
            </div>
            <div class="card__title"></div>
            <div style="display: flex;justify-content: center;align-items: center">
              <h1 [style.font-size]="fontSize + 'rem'">{{fourthFrameNum}}</h1>
            </div>
            <div style="display: flex; justify-content: space-between;align-items: center;">
              <button [hidden]="!fourthFrameCheckers" (click)="correct(4)" type="button" class="btn btn-success"
                      style="width:20%;margin-left: 30px">Success
              </button>
              <button [hidden]="!fourthFrameCheckers" (click)="incorrect(4)" type="button" class="btn btn-danger"
                      style="width:20%; margin-right: 30px;">Danger
              </button>
            </div>
          </div>

        </div>

        <!--      Toolbar-->
        <div style="width: 100%; height: 90px; justify-content: center; align-items: center;display: flex;">
          <div style="width:100%; display: flex; justify-content: space-between">
            <div style="margin-left: 20px; display: flex;justify-content: center;align-items: center;">
              <div class="input_wrapper" id="switcher">
                <input type="checkbox" class="switch_4" [checked]="voice" [(ngModel)]="voice">
                <svg class="is_checked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 426.67 426.67">
                  <path
                    d="M153.504 366.84c-8.657 0-17.323-3.303-23.927-9.912L9.914 237.265c-13.218-13.218-13.218-34.645 0-47.863 13.218-13.218 34.645-13.218 47.863 0l95.727 95.727 215.39-215.387c13.218-13.214 34.65-13.218 47.86 0 13.22 13.218 13.22 34.65 0 47.863L177.435 356.928c-6.61 6.605-15.27 9.91-23.932 9.91z"/>
                </svg>
                <svg class="is_unchecked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212.982 212.982">
                  <path
                    d="M131.804 106.49l75.936-75.935c6.99-6.99 6.99-18.323 0-25.312-6.99-6.99-18.322-6.99-25.312 0L106.49 81.18 30.555 5.242c-6.99-6.99-18.322-6.99-25.312 0-6.99 6.99-6.99 18.323 0 25.312L81.18 106.49 5.24 182.427c-6.99 6.99-6.99 18.323 0 25.312 6.99 6.99 18.322 6.99 25.312 0L106.49 131.8l75.938 75.937c6.99 6.99 18.322 6.99 25.312 0 6.99-6.99 6.99-18.323 0-25.313l-75.936-75.936z"
                    fill-rule="evenodd" clip-rule="evenodd"/>
                </svg>
              </div>
              <label>Voice</label>
            </div>
            <div style="display: flex;justify-content: center;align-items: center;width: 20%">
              <button class="btn btn-warning" style="width:100%" (click)="break()"
                      [hidden]="startButtonEnable || showAnswerEnable">Break
              </button>
              <button (click)="start()" [hidden]="!startButtonEnable" class="btn btn-success" style="width:100%">Start
              </button>
              <button class="btn btn-primary" (click)="answer()" [hidden]="!showAnswerEnable" style="width:100%">
                Answer
              </button>
            </div>
            <button (click)="save()" [disabled]="!startButtonEnable" class="btn btn-light"
                    style="width:20%;margin-right: 20px">Save
            </button>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div>

  <!--  <div class="tools">-->
  <!--    <div class="container text-center">-->
  <!--      <div class="row">-->
  <!--        <div style="justify-content: center;">-->
  <!--          <div class="form-check form-switch floating-button1">-->
  <!--            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"-->
  <!--                   [disabled]="countOfPupils !=1 " [checked]="voice" [(ngModel)]="voice">-->
  <!--            <label class="form-check-label" for="flexSwitchCheckDefault">Voice</label>-->
  <!--          </div>-->
  <!--          <button class="btn btn-warning btn-lg" (click)="break()" [hidden]="startButtonEnable || showAnswerEnable">-->
  <!--            Break-->
  <!--          </button>-->
  <!--          <button class="btn btn-primary btn-lg" (click)="start()" [hidden]="!startButtonEnable"-->
  <!--                  style="margin-top: 10px">Start-->
  <!--          </button>-->
  <!--          <button class="btn btn-primary btn-lg" (click)="answer()" [hidden]="!showAnswerEnable"-->
  <!--                  style="margin-top: 10px">Answer-->
  <!--          </button>-->
  <!--        </div>-->
  <!--        <div [hidden]="isPupil" style="justify-content: center;margin-top: 10px">-->
  <!--          <button class="btn btn-primary floating-button" (click)="save()" [hidden]="!startButtonEnable">Save-->
  <!--          </button>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->


  <!--  <div class="content-container d-flex flex-wrap justify-content-center">-->
  <!--    <div class="container1" [style.width]="countedWidth + '%'" [style.height]="countedHeight + '%'"-->
  <!--         *ngIf="countOfPupils > 0">-->
  <!--      <div class="buttons" [hidden]="isPupil">-->
  <!--          <select class="row form-select form-select-sm" aria-label=".form-select-sm example"-->
  <!--                  [(ngModel)]="firstFramePupil" (change)="pupilChanged(1)">-->
  <!--            <option *ngFor="let pupil of pupils" [ngValue]="pupil">{{pupil.firstname}} {{pupil.lastname}}</option>-->
  <!--          </select>-->
  <!--        <button class="btn btn-danger" [hidden]="!firstFrameCheckers" (click)="incorrect(1)">-->
  <!--          <mat-icon class="fas fa-user">clear</mat-icon>-->
  <!--        </button>-->
  <!--        <button class="btn btn-success" [hidden]="!firstFrameCheckers" (click)="correct(1)" style="margin-top: 10px">-->
  <!--          <mat-icon class="fas fa-user">done</mat-icon>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--      <div class="text">-->
  <!--        <div [style.font-size]="fontSize + 'rem'">-->
  <!--          <span>{{firstFrameNum}}</span>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->


  <!--    <div [hidden]="isPupil" class="container1" [style.width]="countedWidth + '%'" [style.height]="countedHeight + '%'"-->
  <!--         *ngIf="countOfPupils > 1">-->
  <!--      <div class="buttons">-->
  <!--        <select class="row form-select form-select-sm" aria-label=".form-select-sm example"-->
  <!--                [(ngModel)]="secondFramePupil" (change)="pupilChanged(2)">-->
  <!--          <option *ngFor="let pupil of pupils" [ngValue]="pupil">{{pupil.firstname}} {{pupil.lastname}}</option>-->
  <!--        </select>-->
  <!--        <button class="btn btn-danger" [hidden]="!secondFrameCheckers" (click)="incorrect(2)">-->
  <!--          <mat-icon class="fas fa-user">clear</mat-icon>-->
  <!--        </button>-->
  <!--        <button class="btn btn-success" [hidden]="!secondFrameCheckers" (click)="correct(2)" style="margin-top: 10px">-->
  <!--          <mat-icon class="fas fa-user">done</mat-icon>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--      <div class="text" [style.font-size]="fontSize + 'rem'">-->
  <!--        <span>{{secondFrameNum}}</span>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div [hidden]="isPupil" class="container1" [style.width]="countedWidth + '%'" [style.height]="countedHeight + '%'"-->
  <!--         *ngIf="countOfPupils > 2">-->
  <!--      <div class="buttons">-->
  <!--        <select class="row form-select form-select-sm" aria-label=".form-select-sm example"-->
  <!--                [(ngModel)]="thirdFramePupil" (change)="pupilChanged(3)">-->
  <!--          <option *ngFor="let pupil of pupils" [ngValue]="pupil">{{pupil.firstname}} {{pupil.lastname}}</option>-->
  <!--        </select>-->
  <!--        <button class="btn btn-danger" [hidden]="!thirdFrameCheckers" (click)="incorrect(3)">-->
  <!--          <mat-icon class="fas fa-user">clear</mat-icon>-->
  <!--        </button>-->
  <!--        <button class="btn btn-success" [hidden]="!thirdFrameCheckers" (click)="correct(3)" style="margin-top: 10px">-->
  <!--          <mat-icon class="fas fa-user">done</mat-icon>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--      <div class="text" [style.font-size]="fontSize + 'rem'">-->
  <!--        <span>{{thirdFrameNum}}</span>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div [hidden]="isPupil" class="container1" [style.width]="countedWidth + '%'" [style.height]="countedHeight + '%'"-->
  <!--         *ngIf="countOfPupils > 3">-->
  <!--      <div class="buttons">-->
  <!--        <select class="row form-select form-select-sm" aria-label=".form-select-sm example"-->
  <!--                [(ngModel)]="fourthFramePupil" (change)="pupilChanged(4)">-->
  <!--          <option *ngFor="let pupil of pupils" [ngValue]="pupil">{{pupil.firstname}} {{pupil.lastname}}</option>-->
  <!--        </select>-->
  <!--        <button class="btn btn-danger" [hidden]="!fourthFrameCheckers" (click)="incorrect(4)">-->
  <!--          <mat-icon class="fas fa-user">clear</mat-icon>-->
  <!--        </button>-->
  <!--        <button class="btn btn-success" [hidden]="!fourthFrameCheckers" (click)="correct(4)" style="margin-top: 10px">-->
  <!--          <mat-icon class="fas fa-user">done</mat-icon>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--      <div class="text" [style.font-size]="fontSize + 'rem'">-->
  <!--        <span>{{fourthFrameNum}}</span>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
