<div class="modal-container">
  <h2 class="modal-title">{{'CREATE_GROUP'|translationPipe:lang}}</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <input matInput placeholder="{{'NAMING'|translationPipe:lang}}" name="name" [(ngModel)]="name"
               [ngModelOptions]="{standalone: true}"
               class="modal-input">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="{{'SUBJECT'|translationPipe:lang}}" class="task1" [(ngModel)]="selectedSubject"
                    [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let subject of subjects" [value]="subject">
            {{subject.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="{{'TEACHER'|translationPipe:lang}}" class="task1" [(ngModel)]="selectedTeacher"
                    [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let teacher of teachers" [value]="teacher">
            {{teacher.firstname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="display: flex; justify-content: center;">
      <button mat-raised-button color="primary" type="submit"
              class="modal-button">{{'SAVE'|translationPipe:lang}}</button>
    </div>
  </form>
</div>
