<div style="padding: 20px">
  <header style="margin-top: 90px">
    <h1>{{group.name}}</h1>
    <p>Описание группы</p>
    <p>Subject: {{group.subject.name}} </p>
    <p>Teacher: {{group.teacher?.firstname}}</p>
    <p>Pupils: {{count}} </p>
    <button [hidden]="role!=='ROLE_ADMIN'" class="add-student-button" (click)="setTeacher()">Change Teacher</button>
  </header>
  <section class="students">
    <h2>Список учеников</h2>
    <table>
      <thead>
      <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Телефон</th>
        <th [hidden]="role!=='ROLE_ADMIN'">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pupil of group.pupils; let i = index">
        <td (click)="onRowClick(pupil)">{{pupil.firstname}}</td>
        <td (click)="onRowClick(pupil)">{{pupil.lastname}}</td>
        <td>{{pupil.age}}</td>
        <td>{{pupil.phoneNumber}}</td>
        <td [hidden]="role!=='ROLE_ADMIN'">
          <button class="delete-btn" (click)="removePupil(pupil)">Удалить</button>
        </td>
      </tr>
      </tbody>
    </table>

    <mat-expansion-panel [hidden]="role!=='ROLE_ADMIN'" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-description>
          Click to add a new pupil
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="display: flex;align-items: center;">
        <div>
          <mat-form-field>
            <mat-label>Выберте ученика</mat-label>
            <mat-select [(ngModel)]="selectedPupil">
              <mat-option *ngFor="let pupil of allpupils"
                          [value]="pupil">{{pupil.firstname}} {{pupil.lastname}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button class="add-student-button" (click)="handleAddStudent()">Добавить ученика</button>
        </div>
      </div>
    </mat-expansion-panel>
  </section>

  <section class="schedule">
    <div class="container">
      <h2>Расписание занятий</h2>
      <button [hidden]="role!=='ROLE_ADMIN'" class="button" (click)="timetableCreate()">create timetable</button>
    </div>
    <h3 [hidden]="haveTimetable">Not found</h3>
    <table [hidden]="!haveTimetable">
      <thead>
      <tr>
        <th>День недели</th>
        <th>Время</th>
        <th>Преподаватель</th>
      </tr>
      </thead>
      <tbody>
      <tr [hidden]="!timetab.monday">
        <td>Monday</td>
        <td>{{timetab.monday}}</td>
        <td>Иванова А.Н.</td>
      </tr>
      <tr [hidden]="!timetab.tuesday">
        <td>Tuesday</td>
        <td>{{timetab.tuesday}}</td>
        <td>Петрова О.В.</td>
      </tr>
      <tr [hidden]="!timetab.wednesday">
        <td>Wednesday</td>
        <td>{{timetab.wednesday}}</td>
        <td>Петрова О.В.</td>
      </tr>
      <tr [hidden]="!timetab.thursday">
        <td>Thursday</td>
        <td>{{timetab.thursday}}</td>
        <td>Петрова О.В.</td>
      </tr>
      <tr [hidden]="!timetab.friday">
        <td>Friday</td>
        <td>{{timetab.friday}}</td>
        <td>Петрова О.В.</td>
      </tr>
      <tr [hidden]="!timetab.saturday">
        <td>Saturday</td>
        <td>{{timetab.saturday}}</td>
        <td>Петрова О.В.</td>
      </tr>
      <tr [hidden]="!timetab.sunday">
        <td>Sunday</td>
        <td>{{timetab.sunday}}</td>
        <td>Петрова О.В.</td>
      </tr>
      </tbody>
    </table>
  </section>

  <footer>
    <p>Учебный центр "Академия Роста"</p>
    <p>Адрес: г. Бишкек, ул. Тыналиева, д. 123</p>
    <p>Телефон: +996 709 33 49 79</p>
  </footer>
</div>
