<div class="container">
  <h1>{{"TIMETABLE"| translationPipe:lang}}</h1>
  <form [formGroup]="timetableForm">
    <div class="day-container">
      <div class="day">{{"MONDAY"| translationPipe:lang}}</div>
      <mat-form-field>
        <input matInput formControlName="mondayHH" type="number" class="timepicker" placeholder="HH">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="mondayMM" type="number" class="timepicker" placeholder="mm">
      </mat-form-field>
    </div>
    <div class="day-container">
      <div class="day">{{"TUESDAY"| translationPipe:lang}}</div>
      <mat-form-field>
        <input matInput formControlName="tuesdayHH" type="number" class="timepicker" placeholder="HH">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="tuesdayMM" type="number" class="timepicker" placeholder="mm">
      </mat-form-field>
    </div>
    <div class="day-container">
      <div class="day">{{"WEDNESDAY"| translationPipe:lang}}</div>
      <mat-form-field >
        <input matInput formControlName="wednesdayHH" type="number" class="timepicker" placeholder="HH">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="wednesdayMM" type="number" class="timepicker" placeholder="mm">
      </mat-form-field>
    </div>
    <div class="day-container">
      <div class="day">{{"THURSDAY"| translationPipe:lang}}</div>
      <mat-form-field >
        <input matInput formControlName="thursdayHH" type="number" class="timepicker" placeholder="HH">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="thursdayMM" type="number" class="timepicker" placeholder="mm">
      </mat-form-field>
    </div>
    <div class="day-container">
      <div class="day">{{"FRIDAY"| translationPipe:lang}}</div>
      <mat-form-field >
        <input matInput formControlName="fridayHH" type="number" class="timepicker" placeholder="HH">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="fridayMM" type="number" class="timepicker" placeholder="mm">
      </mat-form-field>
    </div>
    <div class="day-container">
      <div class="day">{{"SATURDAY"| translationPipe:lang}}</div>
      <mat-form-field>
        <input matInput formControlName="saturdayHH" type="number" class="timepicker" placeholder="HH">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="saturdayMM" type="number" class="timepicker" placeholder="mm">
      </mat-form-field>
    </div>
    <div class="day-container">
      <div class="day">{{"SUNDAY"| translationPipe:lang}}</div>
      <mat-form-field>
        <input matInput formControlName="sundayHH" type="number" class="timepicker" placeholder="HH">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="sundayMM" type="number" class="timepicker" placeholder="mm">
      </mat-form-field>
    </div>
    <div style="display: flex;justify-content: center;align-items: center;">
      <button style="width: 20%" [disabled]="timetableForm.invalid" (click)="save();closeDialog()" mat-flat-button color="primary">
        {{"SAVE" | translationPipe:lang}}
      </button>
    </div>
  </form>
</div>
