<!--<mat-toolbar color="primary" class="fixed-top" >-->
<!--  <img src="../assets/logo_light.png" routerLink="/main" style="width: 140px">-->

<!--  <span class="spacer"> </span>-->

<!--&lt;!&ndash;  <button *ngIf="!isLoggedIn" matTooltip="Login" routerLink="/login" mat-icon-button class="example-icon favourite-icon">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-icon>login</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;  </button>&ndash;&gt;-->

<!--  <button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" matTooltip="Profile" mat-icon-button>-->
<!--    <mat-icon>account_box</mat-icon>-->
<!--  </button>-->

<!--  <mat-menu id="menu-item" #menu="matMenu">-->
<!--    <button mat-menu-item routerLink="/profile">Profile</button>-->
<!--    <button (click)="logout()" mat-menu-item>Logout</button>-->
<!--  </mat-menu>-->
<!--</mat-toolbar>-->

<router-outlet></router-outlet>
<!--<app-old-view></app-old-view>-->
<!--<app-error-page></app-error-page>-->
<!--<app-olimp></app-olimp>-->
